<h1 class="center">Liste des pokémons</h1>
<!-- <input 
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
/> -->

<!-- <p *ngIf="pokemonSelected">Vous avez sélectionné le pokémon: {{ pokemonSelected.name }}</p>
<p *ngIf="!pokemonSelected">Aucun pokémon sélectionné.</p> -->

<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="Image du pokémon">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p >{{ pokemon.name }}</p>
                        <p>{{ pokemon.created.toTimeString() }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
